.login-container {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.insta-logo {
	width: 100%;
	text-align: center;
}
.insta-logo img {
	width: 50%;
	margin-bottom: 1.5rem;
}
.login-form {
	display: flex;
	flex-direction: column;
	border: 1px solid rgb(214, 214, 214);
	padding: 2rem;
	margin: 0.5rem;
	max-width: 400px;
}
.login-form input,
button {
	margin: 0.5rem;
	height: 2.5rem;
	padding: 0.5rem;
}
.login-form input {
	border: 1px solid rgb(214, 214, 214);
	border-radius: 10px;
}
.login-form input:focus {
	outline: none;
	border: 1px solid rgb(163, 163, 163);
	border-radius: 10px;
}
.login-form button {
	background-color: rgb(109, 172, 255);
	border-radius: 10px;
	border: none;
	color: white;
	font-weight: bold;
}
.login-form button:focus {
	outline: none;
	background-color: rgb(149, 194, 251);
}
.new-user {
	border: 1px solid rgb(214, 214, 214);
	max-width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}
.new-user h5 {
	font-weight: 400;
	font-size: 1.1rem;
	padding: 0.5rem;
}
.error-msg {
	padding: 1rem 0 0 0;
}
.success-msg {
	padding: 1rem 0 0 0;
}
